header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}
.header-notice {
  display: flex;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 2px 10px 2px #fcbebe;
  border-radius: 5px;
  height: 30vh;
  max-height: 110px;
  margin: 20px 20px 0 20px;
  padding: 10px;
}

.logo {
  display: flex;
  width: 18vh;
  justify-self: flex-start;
  align-self: flex-start;
}

.header-cont-title {
  max-width: 50%;
  font-weight: 300;
  font-size: 30px;
  color: blueviolet;
}
.header-cont-price {
  max-width: 50%;
  font-weight: 800;
  font-size: 60px;
  padding-left: 60px;
  align-self: center;
  color: rgb(72, 72, 244);
}

.body-cont {
  margin: 5px 20px 0 20px;
}
.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
}

.underline {
  height: 2%;
  border: 3px solid white;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
}

.title {
 color: white;
 font-weight: 800;
 font-size: 40px;
}

.add-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.add-btn:active {
  box-shadow: none;
}