.login {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.login-logo {
  display: flex;
  width: 70%;
  margin-left: 10%;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}

.login-textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login-btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: #4285f4;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.login-btn:active {
  box-shadow: none;
}

.login-google {
  background-color: rgb(121, 28, 227);
}

.login div {
  margin-top: 7px;
}