.logout-btn {
  display: block;
  margin-left: auto;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid white;
  background: none;
  color: white;
  box-shadow: 0 5px 25px -5px rgba(0,0,0,0.5);
}

.logout-btn:active {
  box-shadow: 0 5px 25px -5px rgba(0,0,0,0);
}