.form-cont {
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(2px);
  box-shadow: 0px 2px 10px 2px #fcbebe;
  border-radius: 5px;
  margin: 5%;
  padding: 5px;
  width: 65vw;
  max-width: 700px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.add-sub-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.back-btn {
  position: absolute;
  color: blueviolet;
  top: 1rem;
  right: 0rem;
}

.cycle-select {
  border: none;
  border-radius: 5px;
  margin-top: 0.2rem;
  padding: 0.1rem;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: blue;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-label {
  display: flex;
  font-size: 20px;
  margin-top: 0.5rem;
}

.category-select {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  color: blue;
}

.submit-form-btn {
  background-color: transparent;
  border: 1.5px solid rgb(121, 28, 227);
  border-radius: 5px;
  color: rgb(121, 28, 227);
  margin: 2rem;
  padding: 0.7rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.submit-form-btn:active {
  box-shadow: none;
}