.form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.form-input-label {
  font-size: 20px;
  margin-right: 15px;
}

.form-input-box {
  color: blue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  width: 75%;
}